body{
  background-color:#6bf8d5;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:"Sofia", sans-serif;
  
  text-shadow: 3px 3px 3px #ababab;
}

div {
  
  width : 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -30px;
}
div h1{
  background-color: #ffca99 ;
  border-radius: 25px;
  padding: 15px;
}